.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin: 0 2rem;
}

.badges img {
  height: 165px;
  width: auto;
  object-fit: contain;
  flex: 0 1 calc(50% - 5vw);
  max-width: calc(50% - 5vw);
}

.badgesWithPadding {
  padding-block: 3rem;
}

@media (min-width: 768px) {
  .badges {
    flex-wrap: nowrap;
  }

  .badges img {
    flex: 0 0 auto;
    max-width: none;
  }
}
