@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap");
@import url("https://use.typekit.net/ezg6nvh.css");

:root {
  --background: hsl(40, 58%, 84%);
  --foreground: hsl(0, 0%, 3.9%);
}

.dark {
  --background: hsl(0, 0%, 3.9%);
  --foreground: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  /* font-family: "Oswald", sans-serif; */
  /* font-family: "cubano", sans-serif; */
  /* font-family: "henderson-slab-basic", serif; */
  /* font-family: "poster-gothic-round-atf", sans-serif; */
  font-family: "karmina-sans", sans-serif;
  /* font-weight: 400; */
  /* font-style: normal; */
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

button {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

h1 {
  font-family: "cubano", sans-serif;
  font-size: 3rem;
  color: hsl(12, 83%, 63%);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding-bottom: 1.5rem;
}

h2 {
  font-family: "cubano", sans-serif;
  font-size: 2.5rem;
  color: hsl(12, 83%, 63%);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  font-size: 1.8rem;
  color: hsl(12, 83%, 63%);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

h4 {
  font-size: 1.3rem;
  color: hsl(0, 0%, 47%);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: hsl(0, 0%, 47%);
  margin: 0;
}

p + p {
  margin-top: 1rem;
}

.font-light {
  font-weight: 100;
}

.font-bold {
  font-weight: 700;
}

.capitalise-font {
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.3rem;
  }
}
