.imageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 1000px;
  margin-top: 8rem;
  padding: 0 1rem;
}

.imageWrapper {
  flex: 1;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .imageContainer {
    flex-direction: column;
    height: auto;
    margin-top: 8rem;
  }

  .imageWrapper {
    max-width: 100%;
    height: 40vh;
  }
}
